.pagination-container {
  display: flex;
  justify-content: center;
  list-style-type: none;
  color: white;

  .pagination-item {
    padding: 0 12px;
    height: 32px;
    margin: auto 4px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 14px;
    line-height: 1.43;
    font-weight: 600;
    min-width: 32px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer;
    }
  }
}
